@import 'src/styles/tools/color';
@import 'src/styles/tools/spacing';

.overview-list-card {
  &__title {
    color: get-color(black-coral-6);
    font-size: 13px;
  }

  &__rows {
    margin-top: get-spacing(haapsalu);
  }

  &__row {
    min-width: 0;

    &-label {
      color: get-color(black-coral-7);
      font-size: 13px;

      &--wide {
        flex: 1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &-count {
      min-width: 24px;
      text-align: right;
      font-size: 13px;
      color: get-color(black-coral-7);
    }

    &-percent {
      min-width: 36px;
      text-align: right;
      font-size: 13px;
      color: get-color(black-coral-6);
    }
  }
}
