@import 'src/styles/tools/color';
@import 'src/styles/tools/spacing';

.overview-follow-up-card {
  &__title {
    color: get-color(black-coral-6);
    font-size: 13px;
  }

  &__rows {
    margin-top: get-spacing(haapsalu);
  }

  &__row-count {
    font-weight: 600;
  }
}
